@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --bg-gray: hsla(0, 3%, 81%, 0.116);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--bg-gray);
  min-width: 375px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
}

p {
  font-family: 'Lexend Deca', sans-serif;
}

a {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
}

.item {
  width: 327px;
  height: 500px;
  position: relative;
  padding: 3rem;
}

.image-holder {
  margin: 1rem 0rem;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.heading {
  color: var(--very-light-gray);
  margin: 1.5rem 0rem;
  text-transform: uppercase;
}

.paragraph {
  color: var(--transparent-white);
}

.item a {
  position: absolute;
  bottom: 0;
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.item.sedans a {
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}

.item.suvs a {
  color: var(--dark-cyan);
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}

.item.luxury a {
  color: var(--very-dark-cyan);
  border: 2px solid var(--very-light-gray);
  background-color: var(--very-light-gray);
}

.item.sedans a:hover {
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
}

.item.suvs a:hover {
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
}

.item.luxury a:hover {
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100vw;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    margin: 3rem 0;
  }
}
